.movie_data_container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .movie_title {
    display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    font-size: 5rem;
    margin-left: 10px;
    color: #db0000;
    font-family: "Bebas Neue", cursive;
    font-size: 5rem;
    -webkit-text-stroke: 1.5px black;
  }

  .plot_rating_container{
    display:flex;
    flex-direction: column;
    width: 55vw;
    justify-content: center;
      align-items: center;

    .movie_plot {
      font-family: "Work Sans", sans-serif;
      margin: 10px;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
    .movie_rating{
      font-family: "Work Sans", sans-serif;
        margin: 10px;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
  }

    .back_button {
        position: absolute;
        width: 80px;
        height: 55px;
        margin: 12px;
        border-radius: 20px;
        left: 48%;
        border: none;
        font-size: 25px;
        background-color: $secondary;
        color: $primary;
        transition: 0.2s all;
        box-shadow: 0 0 10px $secondary;
        font-family: "Bebas Neue", cursive;
      }

      .back_button:hover {
        background-color: $third;
      }

      .back_button:active {
        transform: scale(0.8);
        box-shadow: 0 0 5px $secondary;
      }


}
